:root {
	--sl-content-width: 55rem;
	--sl-text-5xl: 2.5rem;
	--sl-color-accent-high: hsl(40, 47%, 69%);
	--sl-color-accent: hsl(40, 47%, 69%);
	--sl-color-accent-low: hsl(0, 0%, 0%);
}

/* h1,
h2,
h3 {
		font-family: 'Source Serif Pro', serif;
		font-weight: 700;
		line-height: 1.2;
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
		color: #8e6f3e;
} */